[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
ipykernel = "*"
ipympl = "==0.9.1"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
